<!DOCTYPE html>
<html lang="en">
<head>
    {{- partial "head.html" . }}
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/custom.css" />
    
</head>
<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
{{- partialCached "header.html" . .Page -}}
  <div class="container">
   
    <main class="main">
        {{- block "main" . }}{{ end }}
    </main>
    <section class="side-section">
        {{ block "side" .}}{{end}}
    </section>
   </div>
   <section class="related-post">
     {{ block "related" .}}{{end}}
   </section>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
</body>
</html>