<!DOCTYPE html>
<html lang="en">

<head>
    {{- partial "head.html" . }}
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/home.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print " list" -}} {{- end -}} {{- if eq site.Params.defaultTheme `dark` -}} {{- print " dark" }} {{- end -}} " id="
    top">
    {{- partialCached "header.html" . .Page -}}
    <div class="container">
        <div class="homepage">
            <section>
                <h2>The First Step Toward Better <span class="border-highlight">Programming</span> Is Sound Technical <span class="border-highlight">Guidance</span>.</h2>
                <p></p>
                <div class="image-backgroup">
                    {{ $image := resources.Get "images/home/top-section.jpg" }}
                    <img src="{{ $image.RelPermalink }}" alt="blog top section">

                </div>
                <div class="category">
                    <a href="/categories/java/" aria-label="java"><i class="devicon-java-plain" alt></i></a>
                    <a href="/categories/spring-boot/" aria-label="spring-boot"><i class="devicon-spring-plain"></i></a>
                    <a href="/categories/angular/" aria-label="angular"><i class="devicon-angularjs-plain"></i></a>
                    <a href="/categories/cucumber/" aria-label="cucumber"><i class="devicon-cucumber-plain"></i></a>
                    <a href="/categories/php/" aria-label="php"><i class="devicon-php-plain"></i></a>
                    <a href="/categories/git/" aria-label="git"><i class="devicon-git-plain"></i></a>
                    <a href="/categories/javascript/" aria-label="javascript"><i
                            class="devicon-javascript-plain"></i></a>
                </div>
            </section>
            <section></section>
            <section>
                <h2>Meet Our <span class="border-highlight">Authors</span></h2>
                <p>We provide professional environments to help you with your studies and to enhance your understanding
                    of the most recent technologies.</p>
                <div class="authors">
                    {{- range .Params.authors }}
                    {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                    <figure class="author">
                        <img class="author-img" src="{{ .Params.photo }}" alt="author" />
                        <figcaption>
                            <a href="{{ .Permalink }}">{{ .Params.name }}</a>
                        </figcaption>
                    </figure>
                    {{ end }}
                    {{ end }}
                </div>
            </section>
            <section>
                <div class="related">
                    <h3>See Our Latest <span class="border-highlight">Blogs</span></h3>
                    <p>Check out our most recent and innovative blogs, analysis, and examples, among other things.</p>
                    <div class="card-container">
                        {{ range $index, $related := ( where .Site.RegularPages "Type" "blogs" | first 1 ) }}
                        {{ with $related }}

                        <div class="card-left">
                            {{ partial "related_prominant" .}}
                        </div>
                        {{end}}
                        {{end}}
                        <div class="card-right">
                            {{ range $index, $related := ( where .Site.RegularPages "Type" "blogs" | first 4 ) }}
                            {{ with $related }}
                            {{ if ne $index 0}}
                            {{ partial "related_card" .}}
                            {{end}}
                            {{end}}
                            {{end}}
                        </div>



                    </div>
                </div>
            </section>
        </div>

    </div>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
</body>

</html>